.App {
  background-color: maroon;
  padding: 20px;
}

.logo {
  height: 200px;
}

.top {
  background-color: gray;
}

.h1-tag {
  margin-top: 50px;
  margin-left: 5px;
  font-size: 40px;
}

.p-top {
  font-size: 14px;
  text-align: center;
}

.input {
  margin: 10px 0px;
  cursor: pointer;
  height: 40px;
}

.checkbox {
  margin: 10px;
}

.button {
  width: 150px;
  height: 40px;
  background-color: #3b6075;
  color: white;
  margin: 10px;
}

.button:hover {
  background-color: #303030;
}

.p-foot {
  margin: 10px;
  font-size: 12px;
}
